.search-results-wrapper {
    display: inline;
    margin-bottom: 10px;
}

.movie-item-wrapper {
    display: flex;
    align-items: center;
}

.date-wrapper {
    margin-left: auto;
}

.title-wrapper {
    margin-right: 25px;
}

.add-movie-wrapper {
    margin-right: 10px;
}

.btn-add {
    background-color: #96bf48;
    color: white;
}

.btn-add:hover {
    background-color: white;
    color: #96bf48;
    border-color: #96bf48;
}

.btn-add:disabled {
    background-color: grey;
    color: white;
    border-color: transparent;
}

