.search-results-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.movie-item-wrapper {
    display: flex;
    align-items: center;
}

.date-wrapper {
    margin-left: auto;
}

.title-wrapper {
    margin-right: 25px;
}

.add-movie-wrapper {
    margin-right: 10px;
}

.add-movie-wrapper:hover {
    cursor: pointer;
}

